<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><em>FutBet - Premier League Odds and Value Site</em></title>
    <!-- this is the jquery url for javascript functions-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>

<body>
    <!-- Welcome Page for the website -->
    <h1>Welcome to FutBet - Your Premier League Odds and Value Site</h1>
    <p>Discover the best odds and value for Premier League matches with FutBet. Stay ahead of the game and make informed betting decisions.</p>
    <input type="text" placeholder="Search for a teams or matches..."/>
    <button>Search</button>
</body>

</html>
